# Servidor
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET=a815437c83ea62ebbcaa58fe4889b33adca680f6f8be07ce4afe34d9b9f3f8d248b281a6b8ca8d9ff57b2cc4bd88202b561efc6848bd097f235d7d82b8ec4a6b
JWT_EXPIRES_IN=24h
GOOGLE_CLIENT_ID=676592769937-j3un8jpmk8jurrti3542c2hbj0b3oib9.apps.googleusercontent.com

# Base de datos (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=admin
DB_NAME=gestion_ingresos

test@demo.com / Test123456
admin@demo.com / Admin123456

bakend 
pnpm install
pnpm run dev

front 
pnpm install
pnpm install three
pnpm install --save-dev @types/three
pnpm start 

# CORS
CORS_ORIGIN=http://localhost:4200
